@import "tailwindcss";


@keyframes subtle-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* 1.05 сделает движение более мягким */
    }
    100% {
        transform: scale(1);
    }
}

.animate-subtle-zoom {
    animation: subtle-zoom 20s ease-in-out infinite;
}

/* Настройки для кастомного поля телефона в темной теме */

.custom-phone-input .react-tel-input .selected-flag:hover,
.custom-phone-input .react-tel-input .selected-flag:focus {
    background-color: transparent !important;
}

.custom-phone-input .react-tel-input .country-list {
    background-color: #1A1A1A !important;
    border: 1px solid #27272a !important;
    color: white !important;
}

.custom-phone-input .react-tel-input .country-list .country:hover {
    background-color: #27272a !important;
}

.custom-phone-input .react-tel-input .country-list .country.highlight {
    background-color: #333 !important;
}

/* Цвет стрелочки и названия стран */
.custom-phone-input .react-tel-input .selected-flag .arrow {
    border-top: 4px solid #71717a !important;
}

.custom-phone-input .react-tel-input .country-list .country .dial-code {
    color: #a1a1aa !important; /* zinc-400 */
}