@import "tailwindcss";


@keyframes subtle-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* 1.05 сделает движение более мягким */
    }
    100% {
        transform: scale(1);
    }
}

.animate-subtle-zoom {
    animation: subtle-zoom 20s ease-in-out infinite;
}